.guide-table{
	width:100%;
	color:#fff;
}

.guide-table th{
	background:rgba(0,0,0,0.5);
	color:rgba(255,255,255,0.85);
	border:1px solid rgba(255,255,255,0.25);
	font-weight:400;
	text-align:left;
	padding:3px 8px;
}

.guide-table th:nth-child(1){
	width:100px;
}

.guide-table td{
	background:rgba(41, 41, 41, 0.5);
	border:1px solid rgba(255,255,255,0.25);
	padding:5px;
}

.guide-table td.label{
	background:#291616;
	font-style:italic;
	color:rgba(255,255,255,0.9);
}

.guide-table td input{
	width:100%;
	padding:2px 5px;
}

.guide-table #temporal-scope{
	width:150px;
}

.guide-table #custom-temporal-scope{
	width:150px;
	margin-top :4px;
	margin-left:5px;
	display:inline-block;
}