#memories{
	margin-bottom:0;
}

#memories .entry{
	background:rgba(0,0,0,0.5);
	border:1px solid rgba(255,255,255,0.25);
	margin:5px;
}

#memories .entry .word{
	background:#293e27;
	padding:2px 5px;
	font-size:12px;
}

#memories .entry .definition-divider{
	width:calc( 100% - 100px );
	margin:1px auto;
	border-color:rgba(255,255,255,0.2);
}

#memories .entry table:nth-of-type(even){
	background:#443019;
}